<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shipping_date %>
    <%= form.date_select :shipping_date %>
  </div>

  <div class="field">
    <%= form.label :shipping_address %>
    <%= form.text_field :shipping_address %>
  </div>


  <div class="container my-4">
    <p class="font-weight-bold">Ordered Products</p>
    <ul class="list-group list-group-flush">
      <% Product.all.each do |c| %>
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="products[]" id="check<%= c.id %>" value="<%= c.id %>">
            <label class="custom-control-label" for="check<%= c.id %>"><%= c.name %></label>
            <input  type="number" id="quantity<%= c.id %>>" name="amount_of_products[]" min="1">
          </div>
        </li>
      <% end %>
    </ul>
  </div>


  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
