<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Shipping date:</strong>
    <%= @order.shipping_date %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= @order.shipping_address %>
  </p>

  <% i = 0 %>
  <% @order.products.all.each do |c| %>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <label class="custom-control-label"><%= c.name %></label>
        <label><%= @order.order_products[i].amount %></label>
        <% i = i + 1 %>
      </div>
    </li>
  <% end %>


  <p>
    <strong>User:</strong>
    <%= @order.user.name %>
  </p>

  <%= link_to 'Back', orders_path %>
</div>